{% if country %}
Would this meme be allowed on TikTok, Twitter, Weibo, or Instagram in {{ country }}?
{% else %}
Would this meme be allowed on TikTok, Twitter, Weibo, or Instagram?
{% endif %}
Explain why it might get taken down or flagged.